* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#sec1{
   width: 100%;
   height: 80vh;
}
#Head .nav{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 5px;
    color: white;
    background-color: black;
}

                   /* main part starts from here  */

 #navbar .navi{
    display: flex;
    justify-content: space-around;
    margin-left: 130px;
    flex-wrap: wrap;
 }
 #navbar .navi ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    gap: 70px;
 }
 #navbar .navi ul li a{
    text-decoration: none;
    color: greenyellow;
    font-size: 25px;
 }
 #sec1 .navi h1{
   color: green;
   font-size: 30px;
 }
 #sec1 .navi h1 i{
   color: green;
 }
 #sec1 .navi button{
   color: green;
   width: 110px;
   height: 40px;
   font-size: 20px;
   background-color: aqua;
   border-radius: 30px;
 }

 #maincenter {
   display: block;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   margin-top: 18%;
   font-size: 40px;
 }
 #maincenter input{
   width: 760px;
   height: 45px;
 }
 #maincenter button{
   color: green;
   width: 110px;
   height: 40px;
   font-size: 20px;
   background-color: aqua;
   border-radius: 30px;
   position: relative;
   margin-left: 10px;
 }
 #sec1{
   background-image: url(image/first\ image.jpg);
 }
                /* sec1 ends here  */

                /* sec2 starts here  */

#about {
   width: 100%;
   height: 70vh;
}
#div2 {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
}
#div2 .image2{
 border: 1px solid black;
 width: 550px;
 height: 400px;
 background-image: url(image/destination-2.jpg);
 position: absolute;
 margin-right: 750px;
}
#div2 .col2 {
   width: 500px;
   height: 400px;
   margin-left: 590px;
   display: block;
   justify-content: left;
   text-align: left;
   flex-wrap: wrap;
   font-size: 20px;
}
#div2 .le{
   display: block;
   justify-content: left;
   flex-wrap: wrap;
}
#div2 .ri{
   display: flex;
   justify-content: right;
   flex-wrap: wrap;
   margin-right: 110px;
}
#div2 .col2 button{
   width: 150px;
   height: 50px;
   border-radius: 70px;
   font-size: 15px;
   background-color: green;
   color: white;
}
#div2 .fi{
   color: greenyellow;
   font-size: 50px;
}
#div2 .if{
   color: black;
   font-size: 50px;
}
#div2 .if span{
   color: greenyellow;
}

                /* } sec3 starts frem here  */

#sec3{
   width: 100%;
   height: 100vh;
}
#sec3 .he{
   text-align: center;
   font-size: 25px;
}
#break{
   display: grid;
   grid-template-columns: auto auto auto auto;
   justify-content: center;
   gap: 50px;

}
#break .up{
   width: 300px;
   height: 250px;
   border: 1px solid black;
   font-size: 20px;
   text-align: center;
}
#break .up h1{
   margin-top: 15px;
   margin-left: 15px;
   font-size: 50px;
}
#break :hover{
   background-color: greenyellow;
}

                  /* sec3 ends here  */
                  /* sec4 starts here  */
#sec4{
   width: 100%;
   height: 100vh;
   position: relative;
}
#sec4 .hq{
   text-align: center;
   font-size: 25px;
}
#sec4 .im1{
   border: 1px solid black;
   display: flex;
   width: 850px;
   height: 350px;
   position: absolute;
   flex-wrap: wrap;
   left: 30px;
}
#sec4 .im2{
   display: flex;
   border: 1px solid black;
   width: 500px;
   height: 670px;
   position: absolute;
   flex-wrap: wrap;
   right: 40px;
}
#sec4 .im3{
   border: 1px solid black;
   width: 400px;
   height: 300px;
   position: relative;
   top:370px;
   left: 30px;  
}
#sec4 .im4{
   border: 1px solid black;
   width: 400px;
   height: 300px;
   position: absolute; 
   right: 632px;
   top: 490px;
}

                 /* sec4 ends here  */
                 /* sec5 starts here  */
#sec5{
   width: 100%;
   height: 100vh;
}
#sec5 .qw{
   display: block;
   justify-content: center;
   text-align: center;
   font-size: 30px;
   flex-wrap: wrap;
}
#sec5 .wq{
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
 gap: 10px;
}
#sec5 .wq .wqw{
   width: 382px;
   height: 550px;
   border: 1px solid black;
   display: grid;
   grid-template-columns: auto auto auto;
}


                        /* sec5 ends here  */
                        /* sec6 starts here  */

#sec6{
   width: 100%;
   height: 70vh;
}
#bracket{
   border: 1px solid black;
   width: 90%;
   height: 550px;
   margin-left: 70px;
   display: flex;
   color: white;
   background-image: url(image/ten2.jpg);
}
#bracket .em{
   padding: 40px;
 font-size: 25px;
 text-align: left;
}
#bracket .em h2{
   font-size: 50px;
}

#bracket .wo{
   padding: 40px;
 font-size: 50px;
 text-align: left;
}
#bracket .em button{
   width: 150px;
   height: 50px;
   border-radius: 70px;
   font-size: 25px;
   background-color: green;
   color: white;
}
#bracket .wo .ton{
   width: 250px;
   height: 40px;
}
#bracket .wo .not{
   width: 512px;
   height: 80px;
}
#bracket .wo button{
   width: 512px;
   height: 50px;
}

                /* sec6 ends here  */
                /* sec7 starts here  */

 #sec7{
   width: 100%;
   height: 70vh;
 }
 #sec7 .er{
   text-align: center;
   font-size: 20px;
 }
 #sec7 .be{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 35px;
   flex-wrap: wrap;
 }
 #sec7 .be .eb{
   border: 1px solid black;
   width: 350px;
   height: 250px;
   display: grid;
   grid-template-columns: auto ;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 #sec7 .be .eb h2{
   font-size: 45px;
 }
                         /* sec7 ends here  */
                         /* sec8 starts here  */
 /* #sec8{
   width: 100%;
   height: 80vh;
 }
 #ty{
   font-size: 25px;
   text-align: center;
 }
#tu{
   width: 350px;
   height: 450px;
   border: 1px solid black;
   display: grid;
   grid-template-columns: auto auto auto auto;
}
#tu .tut{
   display: flex;
   justify-content: space-between;
} */
                    /* sec8 ends here  */
                    /* sec9 starts here  */

 #sec9{
   width: 100%;
   height: 80vh;
 }
#io{
   font-size: 25px;
   text-align: center;
}
#poi{
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 30px;
   flex-wrap: wrap;
   margin-left: 60px;
}
#poi .iop{
   border: 1px solid black;
   width: 400px;
   height: 300px;
   text-align: center;
   font-size: 25px;
   color: rgb(243, 119, 17);
   background-color: rgb(80, 238, 80);
}
#poi .iop .lio{
   border-radius: 50%;
   margin-top: 10px;
}

              /* sec9 ends here  */

              /* footer starts here  */

 #end{
   width: 100%;
   height: 50vh;
   background-color: black;
   flex-wrap: wrap;
} 
#ends{
   display: flex;
   justify-content: space-between;
   text-align: left;
   flex-wrap: wrap;
   font-size: 20px;
   margin-left: 40px;
   border: 1px solid black;
   color: white;
}
#emg {
   width: 150px;
   height: 150px;
   display: grid;
   background-image: url(image/im8.jpg);
}
#ends .ds .try{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 
}
#last{
   display: flex;
   justify-content: space-between;
   text-align: center;
   flex-wrap: wrap;
   color: white;
   margin-top: 60px;
   margin-left: 30px;

}
#last .lest{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 25px;
}
#last .lest a{
   text-decoration: none;
   color: aqua;
}